@using Projekat_SmartGrid.Models;
@{
    ViewBag.Title = "Register";
    User currentUser = Session["USER"] as User;
}

@if (currentUser != null)
{
    <div>
        <h1>You are already registered!</h1>
    </div>
}
else
{
    <div>
        <h1>Register</h1>
    </div>

    <div>
        <form action="~/Account/Register" method="post">
            <table class="center">
                <tr>
                    <td>Username</td>
                    <td><input class="inputRegister" type="text" name="username"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input class="inputRegister" type="email" name="email"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input class="inputRegister" type="password" name="password"></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input class="inputRegister" type="text" name="name"></td>
                </tr>
                <tr>
                    <td>Lastname</td>
                    <td><input class="inputRegister" type="text" name="lastname"></td>
                </tr>
                <tr>
                    <td>Date of birth</td>
                    <td><input class="inputRegister" style="width:97%;" type="date" name="dateOfBirth"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><input class="inputRegister" type="text" name="address"></td>
                </tr>
                @if (ViewBag.emptyError != null)
                {
                    <tr>
                        <td colspan="2" class="error_message">@ViewBag.emptyError</td>
                    </tr>
                }
                @if (ViewBag.usernameExistsError != null)
                {
                    <tr>
                        <td colspan="2" class="error_message">@ViewBag.usernameExistsError</td>
                    </tr>
                }
                @if (ViewBag.emailError != null)
                {
                    <tr>
                        <td colspan="2" class="error_message">@ViewBag.emailError</td>
                    </tr>
                }
                <tr>
                    <td colspan="2"><input class="buttonTable" style="width:100%;" type="submit" value="Register" /></td>
                </tr>
            </table>
        </form>
    </div>
}