@using Projekat_SmartGrid.Models;
@{
    ViewBag.Title = "Home Page";
}
<h1>WELCOME !</h1>

<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Status</th>
    </tr>
    @foreach (var item in Data.userList.Values)
    {
        <tr>
            <td>@item.Username</td>
            <td>@item.Email</td>
            <td>@item.UserType</td>
        </tr>
    }
    </table>